---
import Button from "../../components/Button.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const response = await fetch("http://127.0.0.1:1337/api/posts");

  const {
    data,
    meta,
  }: {
    data: [
      {
        id: number;
        attributes: {
          title: string;
          slug: string;
          body: string;
          createdAt: string;
          updatedAt: string;
          publishedAt: string;
        };
      }
    ];
    meta: {
      pagination: {
        page: number;
        pageSize: number;
        pageCount: number;
        total: number;
      };
    };
  } = await response.json();
  const posts = data.map((p) => {
    return {
      id: p.id,
      slug: p.attributes.slug,
      title: p.attributes.title,
      body: p.attributes.body,
      createdAt: p.attributes.createdAt,
      updatedAt: p.attributes.updatedAt,
      publishedAt: p.attributes.publishedAt,
    };
  });
  return posts.map(({ slug, title, body }) => {
    return {
      params: { slug },
      props: { title, body },
    };
  });
}

const { id } = Astro.params;
const { title, body } = Astro.props;
---

<Layout title={title}>
  <!-- Blog Article -->
  <div class="mx-auto w-full max-w-7xl flex-1 px-4 pb-12 sm:px-6 lg:px-8">
    <div class="flex justify-center lg:justify-start">
      <a href="/blog">
        <Button>Go Back</Button>
      </a>
    </div>
    <div class="mx-auto mt-5 max-w-3xl">
      <!-- Content -->
      <div class="space-y-5 md:space-y-8">
        <div class="space-y-3">
          <h2 class="text-2xl font-bold dark:text-white md:text-3xl">
            {title}
          </h2>

          <p class="text-lg text-gray-800 dark:text-gray-200">
            {body}
          </p>
        </div>
      </div>
    </div>
    <!-- End Content -->
  </div>
</Layout>
<!-- End Blog Article -->
