---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
const response = await fetch("http://127.0.0.1:1337/api/posts");

const {
  data,
  meta,
}: {
  data: [
    {
      id: number;
      attributes: {
        title: string;
        slug: string;
        body: string;
        createdAt: string;
        updatedAt: string;
        publishedAt: string;
      };
    }
  ];
  meta: {
    pagination: {
      page: number;
      pageSize: number;
      pageCount: number;
      total: number;
    };
  };
} = await response.json();

const posts = data.map((p) => {
  return {
    id: p.id,
    slug: p.attributes.slug,
    title: p.attributes.title,
    body: p.attributes.body,
    createdAt: p.attributes.createdAt,
    updatedAt: p.attributes.updatedAt,
    publishedAt: p.attributes.publishedAt,
  };
});
---

<Layout title="Blog">
  <section class="flex flex-1 justify-center p-10">
    <div class="mx-auto flex max-w-7xl flex-1 flex-col gap-5">
      {
        posts.map((post) => (
          <Card
            title={post.title}
            body={post.body}
            link={`/blog/${post.slug}`}
            linkText="Read More"
          />
        ))
      }
    </div>
  </section>
</Layout>
