---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<Layout title="Blog">
  <section class="flex flex-1 justify-center">
    <div class="mx-auto flex max-w-7xl flex-1 flex-col gap-5 p-5">
      <h1 class="text-4xl font-bold">Posts</h1>
      {
        posts.map((post) => (
          <Card
            title={post.data.title}
            description={post.data.description}
            link={`/blog/${post.slug}`}
            linkText="Read More"
            createdAt={post.data.createdAt}
          />
        ))
      }
    </div>
  </section>
</Layout>
