---
import "../styles/index.css";
---

<body
  class="flex min-h-screen flex-col bg-gradient-to-r from-indigo-200 via-red-200 to-yellow-100 text-gray-800"
>
  <header
    class="mx-auto flex w-full max-w-7xl items-center justify-between gap-5 p-10"
  >
    <div class="flex items-center gap-2 text-2xl">
      <img
        class="h-10 w-10 rounded-full"
        src="https://avatars.githubusercontent.com/u/57844588?v=4"
        alt=""
      />
      <p class="font-bold tracking-tighter text-gray-900">Michael Lei</p>
    </div>
    <nav>
      <ul class="flex gap-5 text-xl font-semibold">
        <li>Projects</li>
        <li>Blog</li>
      </ul>
    </nav>
  </header>
  <main class="flex-1">
    <section class="mx-auto flex max-w-7xl items-center p-10 text-xl">
      <div>
        <p>Hello, I'm</p>
        <h1 class="my-5 text-5xl font-bold tracking-tighter text-gray-900">
          Michael Lei
        </h1>
        <p class="leading-relaxed">
          I'm a web developer based in the Vancouver, BC.
          <br />
          I'm currently studying
          <a
            class="font-semibold text-gray-900 hover:text-gray-700"
            href="https://www.bcit.ca/programs/full-stack-web-development-diploma-full-time-7540dipma/"
          >
            Fullstack Web Development
          </a> at British Columbia Institute of Technology.
        </p>
        <button
          class="mt-6 rounded-md bg-gray-900 px-3.5 py-2.5 font-semibold text-white shadow-sm transition-colors hover:bg-gray-800"
        >
          Check out my projects
        </button>
      </div>
      <div></div>
    </section>
  </main>
  <footer class="bg-gray-900 p-10 text-white">
    <div class="mx-auto flex max-w-7xl justify-between">
      <p>
        &copy; {new Date().getFullYear()} Michael Lei.
      </p>
      <nav>
        <ul class="flex gap-5">
          <li>LinkedIn</li>
          <li>GitHub</li>
          <li>Twitter</li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
