---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("project");
---

<Layout title="Projects">
  <section class="flex flex-1 justify-center">
    <div class="mx-auto flex max-w-7xl flex-1 flex-col gap-5 p-5">
      <h1 class="text-4xl font-bold">Projects</h1>
      <div class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
        {
          projects.map((project) => (
            <Card
              title={project.data.title}
              technologies={project.data.technologies}
              body={project.data.description}
              linkText="View Project"
              link={project.data.link}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
