<footer class="bg-gray-900 p-10 text-white">
  <div class="mx-auto flex max-w-7xl items-center justify-between">
    <p>
      &copy; {new Date().getFullYear()} Michael Lei. All rights reserved.
    </p>
    <nav>
      <ul class="flex gap-5 text-xl">
        <a href="https://www.linkedin.com/in/michaelleii" target="_blank">
          <li class="hover:text-white/75">
            <i class="fa-brands fa-linkedin-in"></i>
          </li>
        </a>
        <a href="https://github.com/michaeleii" target="_blank">
          <li class="hover:text-white/75">
            <i class="fa-brands fa-github"></i>
          </li>
        </a>
      </ul>
    </nav>
  </div>
</footer>
