<header
  class="mx-auto flex w-full max-w-7xl items-center justify-between gap-5 p-10"
>
  <div class="flex items-center gap-2 text-2xl">
    <img
      class="h-10 w-10 rounded-full"
      src="https://avatars.githubusercontent.com/u/57844588?v=4"
      alt=""
    />
    <p class="font-bold tracking-tighter text-gray-900">Michael Lei</p>
  </div>
  <nav>
    <ul class="flex gap-5 text-xl font-semibold">
      <li>Projects</li>
      <li>Blog</li>
    </ul>
  </nav>
</header>
